    
    <h1>Home page</h1>

    <p>1. You should register and login to access the tab "On the sea"</p>
    <p>2. Open the tab "On the sea"</p>
    <p>3. Choose your opponent online and challenge him to battle</p>
    <p>4. Drag ships to your field. Click on the ship - change orientation (vertical / horizontal)</p>
    <p>5. The first player to shoot is the player who placed the ships earlier</p>
    <p>6. If all decks of the ship are knocked down, the area around it turns blue</p>
    <p>7. If your opponent has left the game, a notification of his surrender is displayed</p>
    <p>8. The first player to shoot down all enemy ships wins.</p>
    <p>9. Enjoy your game!</p>